.Input{
    width: 100%;
    padding: 4px;
    margin-bottom: 15px;
    box-sizing: border-box;
    color: black;
    /* justify-items: center;
    align-content: center; */
}

.Lable{
    font-weight: bold;
    display: flex;
    margin-bottom: 10px;
    flex-direction: initial;

}
label{
    float: left;
    margin: 5px;
}
.InputEle{
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    color: black;
    background-color: rgb(48, 46, 46);
    font: inherit;
    padding: 5px 10px;
    border-radius: 6px;
    /* justify-content: center;
    align-content: center; */
    /* margin-left: 40%; */
    height: 40px;
    width: 300px;
    display: block;
    box-sizing: border-box;
}
.InputEle:focus{
    outline: none;
    background-color: rgb(109, 106, 106);
}


.Invalid{
    border-color:red;
    background-color: rgb(243, 152, 141);
}

input::placeholder {
    color: rgb(136, 133, 133);
  }

  