.NavigationItems{
    margin: 0;
    padding: 0;
    
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 60%;
    flex-flow: column;
}
@media(min-width: 500px){
    .NavigationItems{
        flex-flow: row;
    }
}