.ListContents{
    height: 130px;
    width: 200px;
    background-color: thistle;
    cursor: pointer;
    border-radius: 6px;
    text-align: center;
    
}
.b1 {
    height: 100%;
    width: 100%;
    border: none;
    background: none;
    outline: red;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.Image{
    height: 100%;
    width: 100%;
    display: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 6px;
    transition: 0.5s all ;
    background-color: black;
    /* background-image: url("../../../assets/images/tokyoGhoul.jpeg"); */
    background-size: cover;
}

.ListContents:hover .Image,
.ListContents:focus .Image{
    transform: scale(1.2);
    transition-delay:0.3s;
}


.ListContents:hover .Image:before,
.ListContents:focus .Image:before{
    display: block;
}
span {
    color: white; /* Good thing we set a fallback color! */
    font-family: sans-serif;
    padding: 25%;
    background-color: rgba(27, 27, 27, 0.575);
    top:0;
    left: 0;
    right: 0;
    border-radius: 6px;
    bottom: 0;
    position: absolute;
    transition: 0.8s all ;
    display: none;
}
.ListContents:hover span,
.ListContents:focus span {
  display: block;
  transform: scale(1.2);
}
/* .Image:before{
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(15, 14, 14, 0.466)
} */