.ListContents{
    height: 120px;
    width: 200px;
    background-color: thistle;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    
}
.b1 {
    height: 100%;
    width: 100%;
    border: none;
    background: none;
    outline: red;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.Image{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: 0.5s all ;
    background-color: black;
    background-image: url("../../../assets/images/tokyoGhoul.jpeg");
    background-size: cover;
}

.ListContents:hover .Image,
.ListContents:focus .Image{
    transform: scale(1.3);
}


.ListContents:hover .Image:before,
.ListContents:focus .Image:before{
    display: block;
}
span {
    color: white; /* Good thing we set a fallback color! */
    font-family: sans-serif;
    padding: 25%;
    position: relative;
    display: none;
}
.ListContents:hover span,
.ListContents:focus span {
  display: block;
}
.Image:before{
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(15, 14, 14, 0.466)
}