.SecondaryNav{
    margin: 0;
    padding: 0;
    justify-content: space-between;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    /* width: 500px; */
    flex-flow: column;
}
@media(min-width: 500px){
    .SecondaryNav{
        flex-flow: row;
    }
}

.Link{
    margin: 20px;
    display: flex;
    flex-direction: row;
}


.Icons {
    color: white;
    /* padding: 20px 0px; */
    /* size: 15px; */
    /* margin: 20px; */
}