.SecondaryNav{
    margin: 0;
    padding: 0;
    justify-content: space-between;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    /* font-size: 20px; */
    /* width: 500px; */
    flex-flow: column;
}
@media(min-width: 500px){
    .SecondaryNav{
        flex-flow: row;
    }
}

.SecondaryNav button{
    margin: 20px;
    display: flex;
    color: white;
    background-color:transparent;
    flex-direction: row;
    border: none;
    text-decoration: none;
    color: transparent;
    outline-style: none; 
}
/* .SecondaryNav button{
    text-decoration: none;
    color: transparent;
    border: none;

} */
.SecondaryNav button:active{
    display: flex;
    color: red;
}
.active:active{
    color: red;
}

.Icons {
    color: white;
    /* padding: 20px 0px; */
    /* size: 15px; */
    /* margin: 20px; */
}

.Icons:hover,
.Icons:active,
.Icons:active{
    color: red;

}
.active{
    color: red;
    font-weight: bold;
    
}

.dropdown {
    position: relative;
    display: block;
  }
  
  .dropdownContent {
    display: none;
    position: absolute;
    color: white;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdownContent {
    display: block;
  }
